 .main-ProfileUser {
        position: absolute;
        left : 29%;
    }
    .main-ProfileUser h3 {
        font-size : 30px;
    }
    .main-ProfileUser .ThanhNgang {
        width: 800px;
        border:solid 2px rgba(0, 0, 0, 0.2);
    }
    .main-ProfileUser .thanhDoc {
        border-right:solid 2px rgba(0, 0, 0, 0.2);
        height : 432px;
        margin-top: 17px;
        position : absolute;
        right: 40%;
    }
    .main-ProfileUser .btnUpdate {
    margin-top: 15px;
    display : flex;
    height : 40px;
    width : 130px;
    border: 1px solid rgb(94, 219, 219); 
    justify-content : center;
    background-color: white;
    border-radius : 5px;
    position:relative;
    margin-left: 200px;
    text-decoration: none;
    }
    .main-ProfileUser .btnUpdate::before{
    content:"";
    inset:0;
    position: absolute;
    z-index:1;
    background-color: rgb(94, 219, 219);
    z-index:-1;
    border-radius : 5px;
}
    .main-ProfileUser .btnUpdate h4 {
    color: rgb(94, 219, 219); 
    font-size: 25px;
    margin-top: 3px;
    line-height: 30px;
    }
    
    .main-ProfileUser .btnUpdate .fa-wrench {
    font-size : 20px;
    margin-top : 2px;
    margin-right : 10px;
    color : black;
    line-height: 30px;
    }
    .main-ProfileUser .Profile-UserInfomation{
     display: flex;
    }
    .main-ProfileUser .Profile-UserInfomation input{
     font-size: 16px;
     margin-top: 33px;
     margin-left: 30px;
     position : absolute;
     left: 20%;
     border: none;
     opacity: 0.7;
    }
    .main-ProfileUser .Profile-UserInfomation .UserProfile-radio {
        margin-left: 100px;
      
    }
    .main-ProfileUser .Profile-UserInfomation .UserProfile-radio #Profile-Nam {
        margin-left: 70px;
        width: 16px;
        height: 16px;
      
    }
    .main-ProfileUser .Profile-UserInfomation .UserProfile-radio #Profile-Nu {
        margin-left:125px;
        width: 16px;
        height: 16px;
    }
    .main-ProfileUser .Profile-UserInfomation .UserProfile-radio .lb-Profile-Nam {
        position:absolute;
       margin-top:30px;
       font-size: 18px;
    }
    .main-ProfileUser .Profile-UserInfomation .UserProfile-radio .lb-Profile-Nu {
      position:absolute;
      margin-top:30px;
        margin-left: 65px;
        font-size: 18px;

    }
    .main-ProfileUser .Profile-UserInfomation h4{
     font-size: 22px;
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(4)  {
    margin-top: -20px;
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(4) p {
   
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(5)  {
    margin-top: -20px;
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(5) p {
    
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(6)  {
    margin-top: -20px;
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(6) p {
      
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(7)  {
    margin-top: -20px;
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(7) p {
   
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(8)  {
    margin-top: -20px;
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(8) p {
   
    }
    .main-ProfileUser .Profile-UserInfomation:nth-child(9)  {
    margin-top: -20px;
    }
    .main-ProfileUser .Profile-UserImages
    {
        position: absolute;
        right: -6%;
        top: 25%;
    }
    .main-ProfileUser .Profile-UserImages .avatar {
    width: 180px;
    height: 180px;
    background-size:cover;
    border-radius: 100px;
    position: absolute;
    margin-left: 100px;
    }
    .main-ProfileUser .Profile-UserImages .input-UpdateProfilename {
     font-size : 28px;
     text-align: center;
     width: 300px;     
     margin-top: 250px;
     margin-left:40px;
     border: none;
    }
    .main-ProfileUser .Profile-UserImages .input-UpdateProfileImages {
        margin-left:100px;
        position: absolute;
        margin-top: 205px;
       
    }
    .main-ProfileUser  .btnUpdate:active::before 
    {
    animation: scaleButton 0.5s ease;
     }
     .main-ProfileUser .btnUpdate:hover h4
     {
     opacity:0.7;
        }
    .main-ProfileUser  .btnUpdate:hover i
    {
    opacity:0.7;   
    }
    .main-ProfileUser .btnUpdate:hover 
    {
     border-color: rgb(94, 219, 219, 0.5);
    }

  @keyframes scaleButton {
    0% {
        opacity:0;
        transform: scaleX(1) scaleY(1);
    }
    100% {
        opacity: 0.12;
        transform: scaleX(1.4) scaleY(1.7);
       
    }
}
.main-ProfileUserOrder {
    position: absolute;
    left : 29%;
    
}
.main-ProfileUserOrder h3 {
    font-size : 30px;
}
.main-ProfileUserOrder .ThanhNgang {
    width: 800px;
    border:solid 2px rgba(0, 0, 0, 0.2);
}   
.main-ProfileUserOrder .topInfo-ProfileUser {
    display: flex;
    margin-top: 20px;
    margin-bottom:-10px;
}

.main-ProfileUserOrder .topInfo-ProfileUser .btnChat {
margin-top: 23px;
display : flex;
height : 37px;
width : 100px;
border: 1px solid rgb(94, 219, 219); 
justify-content : center;
background-color: white;
border-radius : 5px;
position:relative;
text-decoration: none; 
margin-left:20px;
}
.main-ProfileUserOrder .topInfo-ProfileUser .btnShop {
margin-top: 23px;
display : flex;
height : 37px;
width : 100px;
border: 1px solid black; 
justify-content : center;
background-color: white;
border-radius : 5px;
position:relative;
text-decoration: none; 
margin-left:20px;
}

.main-ProfileUserOrder .topInfo-ProfileUser .btnChat h4 {
color : rgb(94, 219, 219); ;
font-size: 21px;
margin-top: 5px;

}
.main-ProfileUserOrder .topInfo-ProfileUser .btnShop h4 {
color : black ;
font-size: 21px;
margin-top: 5px;

}
.main-ProfileUserOrder .topInfo-ProfileUser .btnChat .fa-comments {
font-size : 16px;
margin-top : 8px;
margin-right : 10px; 
color: black;
} 
.main-ProfileUserOrder .topInfo-ProfileUser .btnShop .fa-shop {
font-size : 16px;
margin-top : 8px;
margin-right : 10px; 
color: black;
} 

.main-ProfileUserOrder .Infomation-ProfileUserProduct{
display: flex;
border:solid 2px rgba(0, 0, 0, 0.2);
border-left: none;
border-right:none;
}
.main-ProfileUserOrder .Infomation-ProfileUserProduct .ProfileUserProductInfo {
margin-left: 30px;
}
.main-ProfileUserOrder .Infomation-ProfileUserProduct .ProfileUserProductInfo .ProfileUserProductCate {
 font-size:20px;
 display: flex;
 margin-top: -25px;
}
.main-ProfileUserOrder .Infomation-ProfileUserProduct .ProfileUserProductInfo .ProfileUserProductCate p{
margin-top: 26px;
margin-left: 10px;
}
.main-ProfileUserOrder .ProfileUserProductTotal {
font-size:25px;
display:flex;
margin-left: 550px;
}
.main-ProfileUserOrder .ProfileUserProductTotal p{
margin-top: 36px;
margin-left: 30px;
color: red;
}
.main-ProfileUserOrder .Infomation-ProfileUserProduct .ProfileUserProductImages img {
width: 140px;
height: 130px;
background-size:cover;
margin-top:15px;
margin-bottom:15px;
}
