.navBar {
    margin-top: 45px;
    width: 300px;
    border-right: solid 2px rgba(0, 0, 0, 0.2);
    position: fixed;
   }
   .navBar .avatar {
    width: 120px;
    height: 120px;
    background-size:cover;
    border-radius: 100px;
   }
   .navBar h4 {
    font-size: 23px;
    left: 135px;
    position: absolute;
    top: -5px;
   }
   .navBar .wrap-navBar-InfoUser {
    display : flex;
   }
 .navBar .wrap-navBar-InfoUser .navBar-UserUpdate {
   margin-top: 60px;
   display: flex; 
   margin-left:15px;
   }
   .navBar .wrap-navBar-InfoUser .navBar-UserUpdate .fa-highlighter {

    font-size: 20px;
   }
   .navBar .wrap-navBar-InfoUser .navBar-UserUpdate a{
    display: inline-block;
    margin-left:5px;
    font-size: 18px;
    text-decoration:none;
    color:black;
   }
   .navBar .navbar-UserChoosen {
     display: inline-block;
     background-color: white;
     margin-top: 50px;
     width: 155px;
     height: 35px;
     border: 2px solid black;
     margin-left: calc(140px - 77px);
     font-size: 25px;
     text-align:center;
     text-decoration:none;
     color: black;
     line-height : 35px;
   }
   .navBar .navbar-UserChoosen:hover {
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
   }
   .navBar .navbar-UserChoosen:active {
    border: 2px solid red;
    color : red;
   }
   
table {
  margin-top : 150px;
  text-align: left;
  margin-left : 140px;
}
.main-tr td {
  font-weight: bold;
  font-size : 24px;
  padding-bottom: 14px;
}

.btn-success {
  display : flex;
  margin-top : 10px;
  position : absolute;
  left : 85%;
  top : 50px;
}
.btnDelete {
  display : flex;
  height : 37px;
  width : 100px;
  border: 1px solid red;
  justify-content : center;
  background-color : white;
  border-radius : 5px;
  position : relative;

}
.btnDelete::before {
  content:"";
  inset:0;
  position: absolute;
  z-index:1;
  background-color: red;  
  z-index:-1;
  border-radius : 5px;
}

.btnUpdate {
  margin-top: 15px;
  display : flex;
  height : 37px;
  width : 100px;
  border: 1px solid rgb(94, 219, 219); 
  justify-content : center;
  background-color: white;
  border-radius : 5px;
  position:relative;
}
.btnUpdate::before{
  content:"";
  inset:0;
  position: absolute;
  z-index:1;
  background-color: rgb(94, 219, 219);
  z-index:-1;
  border-radius : 5px;
}

.btnDelete h4 {
  color : red;
  font-size: 21px;
  margin-top: 3px;
  
}
.btnUpdate h4 {
  color : rgb(94, 219, 219); ;
  font-size: 21px;
  margin-top: 3px;
  
}

.fa-wrench {
  font-size : 15px;
  margin-top : 10px;
  margin-right : 10px;
 
} 
.fa-circle-minus {
  font-size : 15px;
  margin-top : 10px;
  margin-right : 10px;
 
} 
.fa-regular {
  margin-right : 10px;
  font-size : 23px;
  margin-top : 5px;
  background-color: black;
}
.main-tr {
  border-bottom : 3px solid rgba(0, 0, 0, 0.2);
}
.sub-tr {
  border-bottom : 3px solid rgba(0, 0, 0, 0.2);

}
.sub-tr td:nth-child(2) {
font-size: 20px;
color : rgb(29, 204, 204);
}
.sub-tr td:nth-child(3) {
font-size: 20px;
display: flex;
margin-top : 75px;

}
.sub-tr td:nth-child(4) {
font-size: 20px;
padding-right: 20px;
}

img{
  margin-top: 15px;
  width: 150px;
  height: 150px;
  margin-bottom : 15px;
  
}
.cach {
  opacity: 0;
}
.btnDelete:active::before 
{
animation: scaleButton 0.5s ease;
}
.btnUpdate:active::before 
{
animation: scaleButton 0.5s ease;
}
.btnDelete:hover h4
{
  opacity:0.7;
}
.btnDelete:hover i
{
  opacity:0.7;   
}
.btnDelete:hover 
{
  
  border-color: rgba(255, 0, 0, 0.5);
}

.btnUpdate:hover h4
{
  opacity:0.7;
}
.btnUpdate:hover i
{
  opacity:0.7;   
}
.btnUpdate:hover 
{
  border-color: rgb(94, 219, 219, 0.5);
}


@keyframes scaleButton {
  0% {
      opacity:0;
      transform: scaleX(1) scaleY(1);
  }
  100% {
      opacity: 0.12;
      transform: scaleX(1.4) scaleY(1.7);
     
  }
}
.main-ProfileUser {
  position: absolute;
  left : 29%;
}
.main-ProfileUser h3 {
  font-size : 30px;
}
.main-ProfileUser .ThanhNgang {
  width: 800px;
  border:solid 2px rgba(0, 0, 0, 0.2);
}
.main-ProfileUser .thanhDoc {
  border-right:solid 2px rgba(0, 0, 0, 0.2);
  height : 432px;
  margin-top: 17px;
  position : absolute;
  right: 40%;
}
.main-ProfileUser .btnUpdate {
margin-top: 15px;
display : flex;
height : 40px;
width : 130px;
border: 1px solid rgb(94, 219, 219); 
justify-content : center;
background-color: white;
border-radius : 5px;
position:relative;
margin-left: 200px;
text-decoration: none;
}
.main-ProfileUser .btnUpdate::before{
content:"";
inset:0;
position: absolute;
z-index:1;
background-color: rgb(94, 219, 219);
z-index:-1;
border-radius : 5px;
}
.main-ProfileUser .btnUpdate h4 {
color: rgb(94, 219, 219); 
font-size: 25px;
margin-top: 3px;
line-height: 30px;
}

.main-ProfileUser .btnUpdate .fa-wrench {
font-size : 20px;
margin-top : 2px;
margin-right : 10px;
color : black;
line-height: 30px;
}
.main-ProfileUser .Profile-UserInfomation{
display: flex;
}
.main-ProfileUser .Profile-UserInfomation p{
font-size: 18px;
margin-top: 33px;
margin-left: 30px;
position : absolute;
left: 20%;

}
.main-ProfileUser .Profile-UserInfomation h4{
font-size: 22px;
}
.main-ProfileUser .Profile-UserInfomation:nth-child(4)  {
margin-top: -20px;
}
.main-ProfileUser .Profile-UserInfomation:nth-child(4) p {

}
.main-ProfileUser .Profile-UserInfomation:nth-child(5)  {
margin-top: -20px;
}
.main-ProfileUser .Profile-UserInfomation:nth-child(5) p {

}
.main-ProfileUser .Profile-UserInfomation:nth-child(6)  {
margin-top: -20px;
}
.main-ProfileUser .Profile-UserInfomation:nth-child(6) p {

}
.main-ProfileUser .Profile-UserInfomation:nth-child(7)  {
margin-top: -20px;
}
.main-ProfileUser .Profile-UserInfomation:nth-child(7) p {

}
.main-ProfileUser .Profile-UserInfomation:nth-child(8)  {
margin-top: -20px;
}
.main-ProfileUser .Profile-UserInfomation:nth-child(8) p {

}
.main-ProfileUser .Profile-UserInfomation:nth-child(9)  {
margin-top: -20px;
}
.main-ProfileUser .Profile-UserImages
{
  position: absolute;
  right: 2%;
  top: 25%;
}
.main-ProfileUser .Profile-UserImages .avatar {
width: 180px;
height: 180px;
background-size:cover;
border-radius: 100px;
}
.main-ProfileUser .Profile-UserImages p {
font-size : 30px;
text-align: center;
}
.main-ProfileUser  .btnUpdate:active::before 
{
animation: scaleButton 0.5s ease;
}
.main-ProfileUser  .btnUpdate:hover h4
{
opacity:0.7;
  }
.main-ProfileUser  .btnUpdate:hover i
{
opacity:0.7;   
}
.main-ProfileUser .btnUpdate:hover 
{
border-color: rgb(94, 219, 219, 0.5);
}

@keyframes scaleButton {
0% {
  opacity:0;
  transform: scaleX(1) scaleY(1);
}
100% {
  opacity: 0.12;
  transform: scaleX(1.4) scaleY(1.7);
 
}
}
.main-ProfileUserOrder {
  position: absolute;
  left : 29%;
  
  
}
.main-ProfileUserOrder h3 {
  font-size : 30px;
}
.main-ProfileUserOrder .ThanhNgang {
  width: 800px;
  border:solid 2px rgba(0, 0, 0, 0.2);
}   
.main-ProfileUserOrder .topInfo-ProfileUser {
  display: flex;
  margin-top: 20px;
  margin-bottom:-10px;
}

.main-ProfileUserOrder .topInfo-ProfileUser .btnDelete {
display : flex;
height : 37px;
width : 100px;
border: 1px solid red;
justify-content : center;
background-color : white;
border-radius : 5px;
position : relative;
text-decoration: none;
margin-left:20px;
margin-top: 23px;
}  
.main-ProfileUserOrder .topInfo-ProfileUser .btnChat {
margin-top: 23px;
display : flex;
height : 37px;
width : 100px;
border: 1px solid rgb(94, 219, 219); 
justify-content : center;
background-color: white;
border-radius : 5px;
position:relative;
text-decoration: none; 
margin-left:20px;
}
.main-ProfileUserOrder .topInfo-ProfileUser .btnShop {
margin-top: 23px;
display : flex;
height : 37px;
width : 100px;
border: 1px solid black; 
justify-content : center;
background-color: white;
border-radius : 5px;
position:relative;
text-decoration: none; 
margin-left:20px;
}
.main-ProfileUserOrder .topInfo-ProfileUser .btnDelete h4 {
color : red;
font-size: 21px;
margin-top: 5px;   

}
.main-ProfileUserOrder .topInfo-ProfileUser .btnChat h4 {
color : rgb(94, 219, 219); ;
font-size: 21px;
margin-top: 5px;

}
.main-ProfileUserOrder .topInfo-ProfileUser .btnShop h4 {
color : black ;
font-size: 21px;
margin-top: 5px;

}
.main-ProfileUserOrder .topInfo-ProfileUser .btnChat .fa-comments {
font-size : 16px;
margin-top : 8px;
margin-right : 10px; 
color: black;
} 
.main-ProfileUserOrder .topInfo-ProfileUser .btnShop .fa-shop {
font-size : 16px;
margin-top : 8px;
margin-right : 10px; 
color: black;
} 
.main-ProfileUserOrder .topInfo-ProfileUser .btnDelete .fa-circle-minus {
font-size : 16px;
margin-top : 8px;
margin-right : 10px;   
color : black; 
} 
.main-ProfileUserOrder .Infomation-ProfileUserProduct{
display: flex;
border:solid 2px rgba(0, 0, 0, 0.2);
border-left: none;
border-right:none;
}
.main-ProfileUserOrder .Infomation-ProfileUserProduct .ProfileUserProductInfo {
margin-left: 30px;
}
.main-ProfileUserOrder .Infomation-ProfileUserProduct .ProfileUserProductInfo .ProfileUserProductCate {
font-size:20px;
display: flex;
margin-top: -25px;
}
.main-ProfileUserOrder .Infomation-ProfileUserProduct .ProfileUserProductInfo .ProfileUserProductCate p{
margin-top: 26px;
margin-left: 10px;
}
.main-ProfileUserOrder .ProfileUserProductTotal {
font-size:25px;
display:flex;
margin-left: 550px;
}
.main-ProfileUserOrder .ProfileUserProductTotal p{
margin-top: 36px;
margin-left: 30px;
color: red;
}
.main-ProfileUserOrder .Infomation-ProfileUserProduct .ProfileUserProductImages img {
width: 140px;
height: 130px;
background-size:cover;
margin-top:15px;
margin-bottom:15px;
}
